<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="text/x-python" />
            <mimeMap fileExtension=".aju" mimeType="text/x-psr-estima-output" />
        </staticContent>
    </system.webServer>
</configuration>
